body
{
	font-family:'Merriweather', serif;
	font-weight:300;
	font-size:15px;
	color:#303030;
	line-height:26px;

	margin: 0px;
	padding: 0px;
	height: 100%;
}

a 
{ 
	cursor: pointer; 
	cursor: hand; 
}

#viewport {
	padding-top: 30px;
    overflow: hidden;
    width: 100%;
}

.decorator
{
	color: #B50009;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:#303030;
}

a:hover {
    text-decoration: none;
	color:#808080;
}

#navigator
{
	margin: 0px 20px 0px 20px;
	padding: 5px;
	text-align: center;
}

#navigator li
{
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	list-style-type: none;
	cursor: pointer; cursor: hand;
	font-size:20px;
	line-height:25px
}

#navigator-container
{
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	width: 100%;
}

#title
{
	font-size:30px;
	line-height:35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about
{
	display: block;
}

section
{
	height: 100%;
	overflow: auto;
	display: none;
}

.container
{
	margin: 20px 30px;
	overflow: hidden;
	width: 960px;
	margin: auto;
	text-align:justify;

}
.left
{
	float: left;
	width: 330px;
}

.left p
{
	font-size:18px;
	line-height:18px;
}

.right
{
	float: right;
	width: 630px;
	background-color: inherit;
}

.external-frame
{
	width: 100%;
	height: 600px;
}

h1,h2,h3,h4
{
	margin:0px;
	padding:0px;
	font-weight:bold;
	/**text-transform:uppercase**/
}

h1
{
	font-size:25px;
	line-height:28px
}



h2
{
	font-size:15px;
	line-height:18px
}



h3
{
	font-size:22px;
	font-weight:bold;
	color:#484644;
	letter-spacing:3px;
	text-align:center
}
h3 span
{
	display:block;
	font-weight:normal;
	font-size:13px;
	color:#ffffff;
	letter-spacing:6px
}


footer
{
	padding:50px 0px;
	text-align:center;
	font-size:12px;
	line-height:22px
}


footer b{
	font-size:14px;
	font-weight:bold;
}
footer a
{
	text-decoration:underline;
	color:#303030;
}
footer a:hover
{
	color:#808080;
}
footer a:link
{
	color:#303030;
}


@media only screen and (max-width: 767px)
{
	h1
	{
		font-size:18px;
		line-height:18px;
	}
	#title
	{
		font-size:25px;
		line-height:30px;
		padding-top:5px;
		padding-bottom:5px;
	}
    
    #navigator li
    {
    	padding-left: 4px;
    	padding-right: 4px;
    	font-size:14px;
		line-height:25px
    }
    

	.container
	{
		padding-left: 5px;
		width: 100%;
	}

	.left
	{
		float: none;
		width: 100%;
	}

	.right
	{	
		float: none;
		width: 100%;

		background-color: inherit;
	}
	.phone-hide
	{
		display:none;
	}

	footer
	{
		padding:20px 0px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 961px)
{
	.container
	{
		width: 767px;
	}

	.left
	{
		float: left;
		width: 266px;
	}

	.right
	{	
		float: right;
		width: 500px;
		background-color: inherit;
	}

}

@media only screen and (min-width: 961px)
{

	.container
	{
		width: 961px;
	}

	.left
	{
		float: left;
		width: 330px;
	}

	.right
	{	
		float: right;
		width: 630px;
		background-color: inherit;
	}
}